/* Webfont: AkweProSC-UltraThinItalic */@font-face {
    font-family: 'AkweProSCUltraThin';
    src: url('AkweProSC-UltraThinItalic.eot'); /* IE9 Compat Modes */
    src: url('AkweProSC-UltraThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AkweProSC-UltraThinItalic.woff') format('woff'), /* Modern Browsers */
         url('AkweProSC-UltraThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AkweProSC-UltraThinItalic.svg#AkweProSC-UltraThinItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

