/* Webfont: AkweProConSC-ExtraLight */@font-face {
    font-family: 'AkweProConSCExtraLight';
    src: url('AkweProConSC-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('AkweProConSC-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AkweProConSC-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('AkweProConSC-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AkweProConSC-ExtraLight.svg#AkweProConSC-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

