/* Webfont: AkweProCon-UltraThinItalic */@font-face {
    font-family: 'AkweProConUltraThin';
    src: url('AkweProCon-UltraThinItalic.eot'); /* IE9 Compat Modes */
    src: url('AkweProCon-UltraThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AkweProCon-UltraThinItalic.woff') format('woff'), /* Modern Browsers */
         url('AkweProCon-UltraThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AkweProCon-UltraThinItalic.svg#AkweProCon-UltraThinItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

