/* Webfont: AkweProCon-ExtraLightItalic */@font-face {
    font-family: 'AkweProConExtraLight';
    src: url('AkweProCon-ExtraLightItalic.eot'); /* IE9 Compat Modes */
    src: url('AkweProCon-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AkweProCon-ExtraLightItalic.woff') format('woff'), /* Modern Browsers */
         url('AkweProCon-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AkweProCon-ExtraLightItalic.svg#AkweProCon-ExtraLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

