/* Webfont: AkweProExtSC-ThinItalic */@font-face {
    font-family: 'AkweProExtSCThin';
    src: url('AkweProExtSC-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('AkweProExtSC-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AkweProExtSC-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('AkweProExtSC-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AkweProExtSC-ThinItalic.svg#AkweProExtSC-ThinItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

